* {
	box-sizing: border-box;
    padding: 0;
    margin: 0;
}


/*  HEADER*/
.header{
    position: fixed;
    width: 100%;
    max-height: 50px;
    z-index: 15;
} 

.header__title{
    padding-top: 1%;
    font-family: 'Zen Dots';
    font-weight: 600;
    font-size:3rem;
    text-transform: uppercase;
    line-height: 1;
    letter-spacing: 1px;
    margin: 0;
    text-align: center;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    color: rgba(0, 0, 0, 0.4);
}

/* MAIN */
.main{
    padding-top: 50px;
    background: linear-gradient(to right, #e4a26c, #c7aae4);
    position: relative;
    width: 100%;
    min-height: 100vh;
    
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.poke__container {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	max-width: 800px;
}

.pokemon__card {
    width: 150px;
    height: 150px;

	margin: 10px;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    cursor: pointer;

    transition-property: transform, opacity;
	transition-duration: .2s;
}


.flip__card {
    position: relative;
    width: 100%;
    height: 100%;

    border-radius: 20px;

    
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition-property: transform, box-shadow;
    transition: transform .5s;
}



.card__front, .card__back {
    position: absolute;
    width: 100%;
    height: 100%;

    padding: 10px;

    border-radius: 20px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; 
}
.card__front {
    background: linear-gradient(to left, #e4d2d2, #9c9393);
}

.card__back {
    background: linear-gradient(to left, #e4d2d2, #9c9393);
    
    transform: rotateY(180deg);
}

.back__img{
    background-color: #deebed;
	border-radius: 50%;
}


.poke__container .pokemon__card .card__back img {
	margin-top: 10px;
	max-width: 90%;
}





/* FLIP */

.poke__container .pokemon__card:hover{
	transform: scale(1.05);
}

.poke__container .pokemon__card:active{
	transform: translate(2px, 2px);
}

.poke__container .pokemon__card:hover .flip__card{
	box-shadow: 2px 6px 12px 0 rgba(0,0,0,0.2);

}

.poke__container .pokemon__card:active .flip__card{
	box-shadow: 0 2px 6px 2px rgba(0,0,0,0.2);
}


.pokemon__card.open__card .flip__card {
  transform: rotateY(180deg);
}


        /* ANIMATION ERROR AND SUCCESS */
/*animate

@success
@error
*/

/* success */
@-webkit-keyframes success{
    from{
        transform: scale3d(1,1,1);
        opacity: 1;
    }
    25%{
        transform: scale3d(1.1,1.1,1.1);
        opacity: 1;
    }
    to{
        transform: scale3d(1,1,1);
        opacity: 0;
    }
}

@keyframes success{
    from{
        transform: scale3d(1,1,1);
        opacity: 1;
    }
    25%{
        transform: scale3d(1.1,1.1,1.1);
        opacity: 1;
    }
    to{
        transform: scale3d(1,1,1);
        opacity: 0;
    }
}

/* erroe */
@-webkit-keyframes error {
    10%,
    90%{
        transform: translateX(-1px);
    }
    20%,
    80%{
        transform: translateX(2px);
    }
    30%,
    50%,
    70%{
        transform: translateX(-4px);
    }
    40%,
    60%{
        transform: translateX(4px);
    }
}
@keyframes error {
    10%,
    90%{
        transform: translateX(-1px);
    }
    20%,
    80%{
        transform: translateX(2px);
    }
    30%,
    50%,
    70%{
        transform: translateX(-4px);
    }
    40%,
    60%{
        transform: translateX(4px);
    }
}




.success{
    pointer-events: none;

    -webkit-animation: success 1.3s ease-in-out forwards;
            animation: success 1.3s ease-in-out forwards;
}

.error{
    -webkit-animation: error 0.82s cubic-bezier(0.36,0.07,0.19,0.97) both;
            animation: error 0.82s cubic-bezier(0.36,0.07,0.19,0.97) both;
}



    /* TABLE */

#table{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;

    transition-property: visibility, opacity;
	transition-duration: .2s;

    background: linear-gradient(to right, #e4a26c, #c7aae4);
}
#table .btn{

    position: absolute;
    top: 45%;
    left: 40%;

    font-family: 'Zen Dots';
    font-size: 2rem;
    text-transform: uppercase;

    background-color: #e4d2d2;

    width: 300px;
    padding: 1%;
    /* margin-top: 20%; */
    text-align: center;
    border: 3px solid #deebed;
    cursor: pointer;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    border-radius: 20px;
    box-shadow: 2px 2px 15px rgba(88, 81, 81, 0.5);

	transition-property: transform, box-shadow;
	transition-duration: .2s;

    transition: transform .2s ease;
}

#table .btn:active{
    transform: translate(2px, 2px);
	box-shadow: 0 0 5px rgba(88, 81, 81, 0.5);
}

 /* TABLE CLOSE */

 #table.close{
    visibility: hidden;
    opacity: 0;

}


.btn__end{
    display: none;
}
.btn__end.active{
    display: block;
}
.btn__start.desactive{
    display: none;
}






