* {
	box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
	overflow: hidden;
}

/*  HEADER*/
.header{
    position: fixed;
    width: 100%;
    max-height: 50px;
    z-index: 15;
} 

.header__title{
    padding-top: 1%;
    font-family: 'Zen Dots';
    font-weight: 600;
    font-size:3rem;
    text-transform: uppercase;
    line-height: 1;
    letter-spacing: 1px;
    margin: 0;
    text-align: center;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    color: rgba(0, 0, 0, 0.4);
}

/* MAIN */
.main{
    padding-top: 50px;
    background: linear-gradient(to right, #e4a26c, #c7aae4);
    width: 100%;
    min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.poke__container {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	max-width: 800px;
}
.poke__container .pokemon__card {
    background: linear-gradient(to left, #e4d2d2, #9c9393);

    position: relative;

	border-radius: 20px;
	box-shadow: 2px 2px 15px rgba(88, 81, 81, 0.5);
	margin: 10px;
	padding: 20px;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    cursor: pointer;

	transition-property: transform, box-shadow;
	transition-duration: .2s;
}

.card__front {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    transform: rotateY(-180deg);
    /* -webkit-backface-visibility: hidden;
            backface-visibility: hidden; */

    background: linear-gradient(to left, #e4d2d2, #9c9393);

    border-radius: 20px;
	box-shadow: 2px 2px 15px rgba(88, 81, 81, 0.5);

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    cursor: pointer;

	transition-property: transform, box-shadow;
	transition-duration: .5s;
    
}
.poke__container .pokemon__card:active{
	transform: translate(2px, 2px);
	box-shadow: 0 0 5px rgba(88, 81, 81, 0.5);
}

.poke__container .pokemon__card .card__back {
	background-color: #deebed;
	border-radius: 50%;
	width: 120px;
	height: 120px;
	text-align: center;

    
}
.poke__container .pokemon__card .card__back img {
	margin-top: 20px;
	max-width: 90%;
}


/* FLIP */

.card__front::-moz-selection {
    background: transparent;
}
.card__front::selection {
    background: transparent;
}


/* .card__front, .card__back{
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  text-align: center;
} */
/* .card__front{
  transform: rotateX(0deg);
  z-index: 2;
  background-color: #e93e29;
  color: #FFF;
  font: 1em/1.8em Arial;
  display: flex;
  align-items: center;
  justify-content: center;
} */
/* .card__back{
  transform: rotateX(180deg);
} */



    /* TABLE */

#table{
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 10;

    transition-property: visibility, opacity;
	transition-duration: .2s;

    background: linear-gradient(to right, #e4a26c, #c7aae4);
}
#table .btn{
    font-family: 'Zen Dots';
    font-size: 2rem;
    text-transform: uppercase;

    background-color: #e4d2d2;

    margin: 0 40%;
    padding: 1%;
    margin-top: 20%;
    text-align: center;
    border: 3px solid #deebed;
    cursor: pointer;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    border-radius: 20px;
    box-shadow: 2px 2px 15px rgba(88, 81, 81, 0.5);

	transition-property: transform, box-shadow;
	transition-duration: .2s;

    transition: transform .2s ease;
}

#table .btn:active{
    transform: translate(2px, 2px);
	box-shadow: 0 0 5px rgba(88, 81, 81, 0.5);
}

 /* TABLE CLOSE */

 #table.close{
    visibility: hidden;
    opacity: 0;
    
}





